@model IEnumerable<MVCHandsOnPractice.Models.Student>
@{
    ViewBag.Title = "GetAllStudent";
}

<h2>Index</h2>

<h2>ALL Student Details</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(x => x.Id)</th>
        <th>@Html.DisplayNameFor(x => x.Name)</th>
        <th>@Html.DisplayNameFor(x => x.Email)</th>
    </tr>
    @foreach(var item in Model)
    { 
<tr>
    <td>@Html.DisplayFor(Item => item.Id)</td>
    <td>@Html.DisplayFor(Item => item.Name)</td>
    <td>@Html.DisplayFor(Item => item.Email)</td>
</tr>
            }
</table>


