@model IEnumerable<BookReading.Business.BookEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEvent")
</p>


<div class="row">



    <div class="col-6">
        <h2>Past Event(s)</h2>
        <table class="table table-bordered table-secondary" >

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
             

            </tr>

            @foreach (var item in Model)
            {
                if (item.Date < DateTime.Now)
                {
        <tr>
            @Html.Partial("_bookShortDesc", item)
           
        </tr>
                }

            }

        </table>
    </div>
    <div class="col-6" >
        <h2>Future Event(s)</h2>
        <table class="table table-bordered table-success">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Date >=DateTime.Now)
                {
        <tr>
            @Html.Partial("_bookShortDesc", item)
           
                @if (User.Identity.Name == item.Author)
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            
            </tr>
                }
            }

        </table>
    </div>
</div>

