@model IEnumerable<BookReading.Model.BookEvent>

@{
    ViewBag.Title = "InvitedEvent";
}

<h2>InvitedEvent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
       
       
        
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.Partial("_bookShortDesc",item)
        
        
    </tr>
}

</table>
